<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting</title>
</head>

<body>

    <% if(age>=18){ %>
    <h1>You are an adult, your are allowed for voting</h1>
   <% }else{ %>
    <h1>Not allowed, you are below 18</h1>
   <% }%>



   <%- include('./partials/footer'); -%>
</body>

</html>